<div class="blockhome" style="overflow:hidden">
    <div class="aboutme">
        <h2>Đây là đâu và tôi là ai?</h2>
        <div class="intro">
            Cảm ơn các bạn đã ghé thăm blog của mình, Blog này là nơi mình ghi chép chia sẻ lại những gì mình tìm hiểu được về lập trình nói riêng về CNTT nói chung, vì người ta nói cách học tốt nhất là hãy ghi chép lại, mỗi lần ghi là một lần nhớ do đó mình đã tạo blog này để ghi lại những gì mình học được hoặc chia sẻ lại bài viết ở một nguồn khác để khi có quên còn có chỗ để tìm lại. Bản thân mình hiện cũng ở mức gà mờ do đó những gì minh hiểu nhiều khi bị sai thì mong các bạn góp ý nhẹ nhàng để mình củng cố thêm kiến thức. Đây cũng là nơi để mình viết lại những kỷ niệm trong cuộc sống đời thường dưới cái nhìn dí dỏm nhất. Còn mình là ai thì bạn xem info bên cột phải.
        </div>
        <div class="clearfix"></div>
    </div>
</div>