<footer class="clearfix">
    <div class="container">
        <ul class="foot">
            <li>
                <a href="">Home</a>
                <a href="">About me</a>
                <a href="">Contact</a>
                <a href="">Sitemap</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="info">
            Email: dinhhuugt@gmail.com<br/>
            Designed by huudepzai<br/>
            Copyright © 2018 huudepzai.com. All rights reserved.
        </div>
    </div>
</footer>