<nav class="navbar navbar-expand-lg navbar-light bg-color">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Giới thiệu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chuyện đời tôi</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Góc lập trình
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lập trình Nodejs</a>
          <a class="dropdown-item" href="#">Lập trinh javascript</a>
          <a class="dropdown-item" href="#">Lập trinh reactjs</a>
          <a class="dropdown-item" href="#">Lập trình PHP</a>
        </div>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">Thủ thuật và tiện ích</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a href="#" onclick="document.getElementById('myForm').submit();" ><i class="fas fa-search"></i></a>
    </form>
  </div>
  </div>
</nav>